.vs
*.sln
*.csproj
*.csproj.meta
/Library
/Temp
/UnityPackageManager
/obj
/QCAR
/App/
/Application
/Logs
/UWP
/**/Assets/Dependencies
/**/Assets/Dependencies.meta
/**/MSbuild
/MSBuildForUnity.Common.props
/**/StreamingAssets/Movies
/**/.editorconfig
/Builds/WSAPlayer
/**/Packages/packages-lock.json
/**/*.sln.DotSettings.user
/**/.idea
*.sfk
*.sfk.meta